.aboutCard {
    display: flex;
    justify-content: center;
    max-width: 50vw;
}

.aboutRow {
    flex-direction: row;
}

p {
    text-align: justify;
}

.picCard {
    max-width: 40vw;
}

@media (max-width: 768px) {
    .aboutPage {
    flex-direction: column;
    }

    .aboutRow {
        flex-direction: column;
    }

    .aboutCard {
        max-width: 95vw;
    }

    .picCard {
        max-width: 95vw;
        order: -1;
        margin-bottom: 20;
    }
}